# Enforce LF endings for PHP source files
*.php text eol=crlf

# Enforce LF endings for other code files
*.js  text eol=crlf
*.css text eol=crlf
*.html text eol=crlf
*.php text eol=crlf

# Keep binary files untouched
*.png binary
*.jpg binary
*.pdf binary
